# Python byte-compiled
colorharmony/__pycache__/
tests/__pycache__/
.cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Colortable files
color_tables/colorname_table.csv
color_tables/colorname_table_3cube.csv
color_tables/colorname_table_big.csv
color_tables/colorname_table_small.csv

# Clothes images
clothes_images/
