# Python byte-compiled
colorharmony/__pycache__/
tests/__pycache__/
.cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Colortable files
color_tables/colorname_table.csv
color_tables/colorname_table_3cube.csv
color_tables/colorname_table_big.csv
color_tables/colorname_table_small.csv
color_tables/real_munsell_to_xyY.dat
color_tables/real_sRGB-1.xls

# Clothes images
clothes_images/
